<img src="images/coin1.jpg" style="height: 300px; width: 500px;">
<h1>Enter any dollar amount!</h1>
<form action='/results' method='get'>
  <div class="form-group">
    <label for="monies">Monies</label>
    <input id="monies" name="monies" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Give me change!</button>
</form>
